


.slideOuter {height:360px; width:200px; overflow:hidden; margin:0;}
.slideOuter .slide {padding:0; margin:0; list-style:none; height:576px; width:250px; overflow:hidden;}
.slideOuter .slide li {float:left;}
.slideOuter .slide li a {display:block; float:left; height:80px; border-bottom:2px solid #fff; width:200px; overflow:hidden;
-webkit-transition: 0.55s;
-moz-transition: 0.55s;
-o-transition: 0.55s;
transition: 0.55s;
}

.slideOuter .slide a#p5 {height:186px;}
.slideOuter .slide.current a {height:43px;}
.slideOuter .slide.current li a.current {height:186px;}

.slideOuter .slide li a img {border:0;}

.slideOuter .slide:hover a#p1,
.slideOuter .slide:hover a#p2,
.slideOuter .slide:hover a#p3,
.slideOuter .slide:hover a#p4 {height:43px;}

.slideOuter .slide a#p1:hover,
.slideOuter .slide a#p2:hover,
.slideOuter .slide a#p3:hover,
.slideOuter .slide a#p4:hover {height:186px;}