

h1{
font-size: 18px;
font-weight: 700;

font-family: Helvetica, Arial, sans-serif;
color: #666;
text-align: center;
text-transform: none;
margin: 50px 0 20px;
padding-bottom: 0px;
border-bottom: 1px solid #ccc;

}


.text-2{
font-size: 13px;
font-weight: 400;
line-height: 10px;
padding-bottom: 6px;
font-family: Helvetica, Arial, sans-serif;
color: #fff;
}


.text-3{
	display: block;
font-size: 11px;
line-height: 13px;
font-family: Helvetica, Arial, sans-serif;
color: #fff;
}








.container{
	width: 960px;
	height: auto;
	position: relative;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 100px;
}
/* Demo Styles end */

/*--------------------------------------*/

/* Additional Styles */
.clear{
	clear: both;
}

/*=============================================
	GLOBAL CONFIGURATION
 =============================================*/
.portfolio-items li,
.portfolio-items h3,
.portfolio-items p,
.portfolio-items p2,
.portfolio-items a{
	margin: 0;
}
/* Portfolio Styles */
.portfolio-container{
	width: 970px;
	margin-left: 10px;
	margin-right: 10px;
	
}

.portfolio-items {
	margin: 10px 0;
}
/* Portfolio list */
.portfolio-items li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 50px;
	float: left;
	list-style: none;
	position: relative;
}
/* Portfolio image */
.portfolio-items li img{
	display: block;
	width: 204px;
	height: 271px;
	padding: 6px;
	background: #eee;
	border: 1px solid #fff;
	border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}


/*=============================================
	BUTTON
 =============================================*/
 /*Default (blue)
 -----------------------*/
.pf_button {
display: inline-block;
padding: 5px 16px !important;
margin: 0px 5px !important;
margin-left: 52px !important;
margin-top: 30px !important;
border: solid 1px #000;

/* Button background */
background: #7abcff;
background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
background: linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
/*Button text*/
color: #fff;	

font: 100% Arial, Helvetica, sans-serif;
text-align: center;
font-size: 12px;
text-shadow: 0 1px 0 rgba(55,121,188,.5);
text-decoration: none !important;
vertical-align: middle;
zoom:1;
*display:inline;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
}
.pf_button:hover {
background: #469CF2;
}



/*=============================================
	CAPTIONS
 =============================================*/
 
 /* Title */
.portfolio-items li div.caption h3,
.portfolio-items li div.caption2 h3,
.portfolio-items li div.caption3 h3,
.portfolio-items li div.caption4 h3,
.portfolio-items li div.caption5 h3,
.portfolio-items li div.caption6 h3,
.portfolio-items li div.caption7 h3,
.portfolio-items li div.caption8 h3,
.portfolio-items li div.caption9 h3,
.portfolio-items li div.caption10 h3,
.portfolio-items li div.caption11 h3,
.portfolio-items li div.caption12 h3,
.portfolio-items li div.caption13 h3,
.portfolio-items li div.caption14 h3,
.portfolio-items li div.caption15 h3{
	font-weight: 500;
	font-size: 17px;
	line-height: 18px;
	width:162px;
padding-top: 25px;
	padding-bottom: 8px;
	margin-bottom: 10px;
	border-bottom: 1px solid #aaa;
	text-shadow: 1px 1px 1px #000;
}
.portfolio-items li div.caption,
.portfolio-items li div.caption2,
.portfolio-items li div.caption3,
.portfolio-items li div.caption4,
.portfolio-items li div.caption5,
.portfolio-items li div.caption6,
.portfolio-items li div.caption7,
.portfolio-items li div.caption8,
.portfolio-items li div.caption9,
.portfolio-items li div.caption10,
.portfolio-items li div.caption11,
.portfolio-items li div.caption12,
.portfolio-items li div.caption13,
.portfolio-items li div.caption14,
.portfolio-items li div.caption15{
	display: block;
	background: #000;/* IE fix */
	background: rgba(0,0,0, 0.6);
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 11px;
	padding-left: 20px;
	
	position: absolute;
	overflow: hidden;
	text-shadow: 1px 1px 1px #000;
	/*opacity*/
	opacity: 0;/* all browsers */
	filter: alpha(opacity = 0);/* IE fix */
	/*transitions(animation effect)*/
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/* Portfolio caption sizes on hover action */
.portfolio-items li:hover div.caption,
.portfolio-items li:hover div.caption2,
.portfolio-items li:hover div.caption3,
.portfolio-items li:hover div.caption4,
.portfolio-items li:hover div.caption5,
.portfolio-items li:hover div.caption6,
.portfolio-items li:hover div.caption7,
.portfolio-items li:hover div.caption8,
.portfolio-items li:hover div.caption9,
.portfolio-items li:hover div.caption10,
.portfolio-items li:hover div.caption11,
.portfolio-items li:hover div.caption12,
.portfolio-items li:hover div.caption13,
.portfolio-items li:hover div.caption14,
.portfolio-items li:hover div.caption15{
	width: 184px;
	height: 271px;
	/*opacity*/
	opacity: 1;/* all browsers */
	filter: alpha(opacity = 80); /* IE fix */
}

 
/* Portfolio caption (default style)
--------------------------------------------*/
.portfolio-items li div.caption{
	top: 7px; /* direction Y */
	right: 7px;/* direction X */
	width: 0;
	height: 0;
}

/* Portfolio caption2
--------------------------------------------*/
.portfolio-items li div.caption2{
	top: 7px; /* direction Y */
	left: 7px;/* direction X */
	width: 0;
	height: 0;
}

/* Portfolio caption3
--------------------------------------------*/
.portfolio-items li div.caption3{
	bottom: 7px; /* direction Y */
	right: 7px;/* direction X */
	width: 0;
	height: 0;
}

/* Portfolio caption4
--------------------------------------------*/
.portfolio-items li div.caption4{
	bottom: 7px; /* direction Y */
	left: 7px;/* direction X */
	width: 0;
	height: 0;
}



/* Caption background
-----------------------------------------*/

/*----===----*/
.ctn_blue{
	background: #0877CC !important;/* IE fix */
	background: rgba(8,119,204, 0.85) !important;
	color: #fff !important;
}
.ctn_blue .pf_button{
	border: 1px solid #0666B4 !important;
}



/*----===----*/
.ctn_slateblue{
	background: #6A5ACD !important;/* IE fix */
	background: rgba(106,90,205, 0.75) !important;
	color: #fff !important;
}
.ctn_slateblue .pf_button{
	border: 1px solid #5448A4 !important;
}
